header {
    font-family: "Kedebideri", sans-serif;
    height: var(--height-header);
}

.slim-header {
    color: var(--color-brand-500);
    border-bottom: 0.5px solid var(--color-brand-200);
}

.dark .slim-header {
    color: white;
    background-color: var(--color-brand-900);
    border-bottom: 0.5px solid #e5e7eb53;
}