@import "tailwindcss";

:root {
  --primary-color:#1a3a5c;
  --primary-text-color:#1a3a5c;
  --primary-color-hover:#0f2840;

  --secondary-color: #f0f0f0;
  --secondary-text-color: #f0f0f0;
  --secondary-color-hover: #f0f0f0;

  --tree-color: #fff;
  --tree-color-hover: #ff;

  --width-side-bar: 16rem;
  --height-header: 6rem;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kedebideri", sans-serif;
}