input {
    border-radius: .5rem;
    border: 1px solid oklch(87.2% 0.01 258.338);
}

input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1); 
    transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.slim-input-secondary {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.slim-input-primary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.dark .slim-input-primary {
    border: 1px solid white;
    color: white;
}