.slim-container-table {
    max-height: calc(100dvh - (var(--height-header) +  7rem));
    overflow-y: auto;
    border-radius: .8rem;
    background-color: white;
    border: 1px solid oklch(92.8% 0.006 264.531);
}

.dark .slim-container-table {
    border: 1px solid #f9fafb1e;
    background-color: var(--color-brand-800);
}

.slim-table {
    position: relative;
    width: 100%;
    border-radius: 0.75rem;
}

.slim-table-thead {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid oklch(92.8% 0.006 264.531);
}

.dark .slim-table-thead {
    border-bottom: 1px solid #f9fafb1e;
}

.slim-tr {
    border: none;
}