.slim-container-table {
    max-height: calc(100dvh - (var(--height-header) +  7rem));
    overflow-y: auto;
    border-radius: 0.75rem 0.75rem 0 0;
}

.slim-table {
    position: relative;
    width: 100%;
    border-radius: 0.75rem;
}

.slim-table-thead {
    position: sticky;
    top: 0;
    z-index: 1;
}