select {
    border: 0;
    outline: none;
}

.label {
    font-weight: 500;
}

.select {
    border-radius: .5rem;
    padding: .45rem .5rem;
}

.select::placeholder {
    color: blue !important;
}

input {
    outline: none;
    border-radius: .5rem;
    padding: .4rem .5rem;
}

.input::placeholder {
    opacity: 1;
    font-weight: 500;
}

/* .slim-label-primary {
    color: var(--primary-color);
    font-weight: 700;
} */

.slim-label-secondary {
    color: var(--secondary-color);
    font-weight: 700;
}

.slim-select-primary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.slim-input-secondary {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* DARK */
@media (prefers-color-scheme: dark) {
    .slim-label-primary {
        color: white;
    }
}