.slim-switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

.slim-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #eb2412;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.23em;
  background-color: #eb2412;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(1.9em);
  background-color: #fff;
}

.slider-default {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  transition: .4s;
  border-radius: 30px;
}

.slider-default:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.23em;
  background-color: var(--primary-color);
  transition: .4s;
}

input:checked + .slider-default {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

input:focus + .slider-default {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider-default:before {
  transform: translateX(1.9em);
  background-color: #fff;
}