.slim-container-table {
    max-height: calc(100dvh - (var(--height-header) +  7rem));
    overflow-y: auto;
    border: 1px solid #dbdbdb;
    border-radius: .76rem .76rem 0 0;
}

.slim-table {
    position: relative;
    width: 100%;
}

.slim-table-thead {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: white;
}