/* ─── LABELS ────────────────────────────────── */
.slim-label-primary  { 
    color: var(--text-secondary); 
    font-weight: 600; font-size: .8125rem; 
    display: flex; 
    margin-bottom: .3rem; 
}
.slim-label-secondary{ color: var(--text-muted); font-weight: 600; font-size: .8125rem; }
.dark .slim-label-primary { color: var(--text-secondary); }
