textarea {
    outline: none;
    border-radius: .5rem;
    padding: .4rem .5rem;
    resize: none;
}

.textarea::placeholder {
    opacity: 1;
    font-weight: 500;
}

.slim-label-secondary {
    color: var(--secondary-color);
    font-weight: 700;
}

.slim-textarea-primary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.dark .slim-textarea-primary {
    color: white;
    border: 1px solid white;
}

.slim-textarea-secondary {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}