.spinner {
  width: 15px; height: 15px;
  border-radius: 50%;
  border: 2.5px solid transparent;
  animation: spin-btn .7s linear infinite;
  margin: 0 auto;
}
.slim-btn-spinner-primary { border-color: rgba(255,255,255,.3); border-top-color: #fff; }
@keyframes spin-btn { to { transform: rotate(360deg); } }
