.container-modal {
    background-color: rgba(241, 241, 241, 0.674);
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.modal {
    background-color: #fff;
    color: var(--secondary-text-color);
    border-radius: .5rem;
    font-weight: 600;
    max-height: calc(100dvh - 7rem);
    border: 1px solid var(--primary-color);
    position: relative;
}

.modal-heigth {
    height: 20rem;
}

.modal-sm {
    width: 95%;
    max-width: 40rem;
}

.modal-md {
    width: 95%;
    max-width: 48rem;
}

.modal-lg {
    width: 95%;
    max-width: 64rem;
}

.modal-xl {
    width: 95%;
    max-width: 80rem;
}

.modal-full {
    width: 100%;
}

.modal-header, .modal-body {
    padding: 1rem;
}

.modal-header {
    background-color: var(--primary-color);
    border-radius: .3rem .3rem 0 0;
    height: 4rem;
    font-size: 1.3rem;
}

.modal-body {
    max-height: calc(100dvh - 12rem);
    border-radius: 0 0 .5rem .5rem;
    overflow-y: auto;
    padding-bottom: 3rem;
}