select {
    border: 0;
    outline: none;
}

.label {
    /* color: var(--primary-color); */
    font-weight: 500;
}

.select {
    border: 1px solid;
    /* border: 1px solid var(--primary-color); */
    border-radius: .5rem;
    padding: .45rem .5rem;
    /* color: var(--primary-color); */
}

.select::placeholder {
    color: blue !important;
}