.react-calendar {
    width: 100% !important;
    max-width: 400px;
    background: var(--color-brand-600);
    border: none !important;
    font-family: inherit;
    line-height: 1.125em;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    padding: 10px;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 0.5em;
}

.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff; 
    /* background-color: red; */
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: #fff; 
    padding-bottom: 10px;
}

.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 12px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    border-radius: 8px;
    transition: all 0.2s;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #F3F4F6;
}

.react-calendar__tile--now {
    background-color: #EFF6FF !important;
    color: #3B82F6;
    font-weight: bold;
}

.react-calendar__tile--active {
    background: #3B82F6 !important; 
}

.react-calendar__tile:disabled {
    background-color: #f9fafb !important;
    color: #d1d5db !important;
    cursor: not-allowed;
}