.slim-bg-side-bar {
    background-color: white;
    color: var(--color-brand-900);
}

.dark .slim-bg-side-bar {
    background-color: var(--color-brand-900);
    color: white;
    border-right: 0.5px solid oklch(92.758% 0.00592 264.656 / 0.326);
}

@media (max-width: 768px) {
    .open-menu {
        transition: 1s;
        width: 100dvw;
        height: calc(100dvh - var(--height-header));
    }
}

@media (min-width: 1024) {
    .side-bar {
        width: var(--width-side-bar);
        max-height: calc(100dvh - var(--height-header));
        overflow-y: auto;
    }
}